.leftContainer{
    /* background-color: blueviolet; */
    /* border:3px solid palevioletred; */
}
.leftItem1{

}
.rightContainer{
    /* background-color: red; */
    /* border:3px solid palevioletred; */
}
.rightItem1{
    padding:30px 40px 20px 20px;
    /* width:100%; height: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.rightItem2{
    height:100%;
    /* background-color: blue; */
}
.profileContainer{
    /* border: 4px solid pink; */
}
.profileSymbolContainer{
    display: flex;
    justify-content: center;
}
.profileSymbol{
    font-size:3em;
    color: lightgray;
}
.profileNameContainer{

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:550px) {
    .rightItem2{
        display: none;
    }
}
@media (max-width: 550px) {
    .rightItem1{
        display: none;
    }
    .menu{
        font-size:2.5em;
        margin-top:20px;
        cursor:pointer;
    }
    .closeMenu{
        font-size:2.5em;
        margin-top:20px;
        cursor:pointer;
    }
}